SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
PRIVATE_KEY=YOUR_EVM_PRIVATE_KEY
WEB3_PROVIDER_URI=http://127.0.0.1:8545
AEGIS_CONTRACT_ADDRESS=0xYourContractAddress
GUARDIAN_SIGNER_KEY=YOUR_EVM_PRIVATE_KEY
PORT=5000
MONITOR_CONTRACT_ADDRESS=0xYourReactiveOrEmitterContract
MONITOR_CONTRACT_NAME=AegisReactiveLiquidityGuardian
MONITOR_EVENT_NAME=AbnormalLiquidityDetected
MONITOR_SIGNER_KEY=YOUR_EVM_PRIVATE_KEY
MONITOR_SIGNER_KEY_FILE=secrets/monitor.key
MONITOR_SIGNER_KEYSTORE_PATH=secrets/monitor-keystore.json
MONITOR_SIGNER_KEYSTORE_PASSWORD=change-me
MONITOR_POLL_INTERVAL_SECONDS=5
MONITOR_RPC_RETRY_ATTEMPTS=3
MONITOR_RPC_RETRY_DELAY_SECONDS=2
MONITOR_TX_RECEIPT_TIMEOUT_SECONDS=120
MONITOR_TX_RECEIPT_POLL_LATENCY_SECONDS=2
RISK_CONTROLLER_ADDRESS=0xYourRiskControllerAddress
ETH_USD_PRICE=3000
DEFAULT_COLLATERAL_RATIO=1.5
HEDGE_MAX_POSITION_BPS=2500
HEDGE_LIQUIDATION_THRESHOLD_BPS=8000
HEDGE_REBALANCE_THRESHOLD_BPS=500
